{% extends "base.html.twig" %} 

{%  block body %}

<div class="jumbotron">
    <h1 class="display-3">MyBest Tâches</h1>
    <p class="lead">Un outil de gestion de tâches conçu pour le travail. </p>
    <hr class="my-4">
    <p>Planifiez, gérez et suivez toutes vos tâches de n'importe où.</p>
    <p class="lead">
      <a href="{{ path('tache')  }}"class="btn btn-primary btn-lg"  role="button">Affichez mes tâches</a>
    </p>
  </div>






 {% endblock %}
